# PyCity School District Analysis

In [85]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_data_res.csv"
student_data_to_load = "Resources/students_data_res.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# District Summary

In [86]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [87]:
# Calculate the number of Schools and the number of Students
total_schools = len(school_data)
total_students = len(student_data)

In [88]:
# Calculate the Total Budget
total_budget = '${:,.2f}'.format(sum(school_data["budget"]))

In [89]:
# Calculate the Average Math, Average Reading Score and the Overall Passing grade
avg_math_score = student_data["math_score"].mean()
avg_reading_score = student_data["reading_score"].mean()
avg_overall_score = (avg_math_score+avg_reading_score)/2

#Round to nearest integer for readabiliby
avg_math_score = round(avg_math_score)
avg_reading_score = round(avg_reading_score)
avg_overall_score = round(avg_overall_score)

In [90]:
# Calculate the percentage of students with a passing math score and a passing reading score (70 or greater)
students_math_pass = student_data.loc[student_data["math_score"] >= 70 ].count()
students_read_pass = student_data.loc[student_data["reading_score"] >= 70 ].count()

pct_math_pass = students_math_pass[0]/total_students*100
pct_read_pass = students_read_pass[0]/total_students*100
pct_overall_pass = (pct_math_pass+pct_read_pass)/2

#Round to 1 digit for readability
pct_math_pass = round(pct_math_pass,1)
pct_read_pass = round(pct_read_pass,1)
pct_overall_pass = round(pct_overall_pass,1)

In [91]:
#Print results to screen
district_results = pd.DataFrame({"Total Schools": [total_schools],
                                   "Total Students": [total_students],
                                   "Total Budget": [total_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [pct_math_pass],
                                   "% Passing Reading": [pct_read_pass],
                                   "% Passing Overall": [pct_overall_pass]
                                   })

district_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,"$24,649,428.00",79,82,75.0,85.8,80.4

#  School Summary