# PyCity School District Analysis

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_data_res.csv"
student_data_to_load = "Resources/students_data_res.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# District Summary

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Calculate the number of Schools and the number of Students
total_schools = len(school_data)
total_students = len(student_data)

In [5]:
# Calculate the Total Budget
total_budget = '${:,.2f}'.format(sum(school_data["budget"]))

In [6]:
# Calculate the Average Math, Average Reading Score and the Overall Passing grade
avg_math_score = student_data["math_score"].mean()
avg_reading_score = student_data["reading_score"].mean()
avg_overall_score = (avg_math_score+avg_reading_score)/2

#Round to nearest integer for readabiliby
avg_math_score = round(avg_math_score)
avg_reading_score = round(avg_reading_score)
avg_overall_score = round(avg_overall_score)

In [7]:
# Calculate the percentage of students with a passing math score and a passing reading score (70 or greater)
students_math_pass = student_data.loc[student_data["math_score"] >= 70 ].count()
students_read_pass = student_data.loc[student_data["reading_score"] >= 70 ].count()

pct_math_pass = students_math_pass[0]/total_students*100
pct_read_pass = students_read_pass[0]/total_students*100
pct_overall_pass = (pct_math_pass+pct_read_pass)/2

#Round to 1 digit for readability
pct_math_pass = round(pct_math_pass,1)
pct_read_pass = round(pct_read_pass,1)
pct_overall_pass = round(pct_overall_pass,1)

In [8]:
#Print results to screen
district_results = pd.DataFrame({"Total Schools": [total_schools],
                                   "Total Students": [total_students],
                                   "Total Budget": [total_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [pct_math_pass],
                                   "% Passing Reading": [pct_read_pass],
                                   "% Passing Overall": [pct_overall_pass]
                                   })

district_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,"$24,649,428.00",79,82,75.0,85.8,80.4

#  School Summary

In [9]:
#School Summary
grouped_by_school_df = student_data.groupby(['school_name'])

In [10]:
#Create a dataframe with 'school' being a summary level
school_summary = pd.DataFrame(student_data["school_name"].value_counts())

school_summary.reset_index(inplace=True)
school_summary.columns = ["School Name", "Total Students"]
school_summary = school_summary.set_index("School Name")
#school_summary

In [11]:
#Calculate number of students, their average reading & math score by group (=school)
#Then append to School Summary table
total_students = grouped_by_school_df["Student ID"].count()
school_summary["Students Total for math"] = total_students 

avg_reading_score = grouped_by_school_df["reading_score"].mean()
school_summary["Average Reading Score"] = avg_reading_score 

avg_math_score = grouped_by_school_df["math_score"].mean()
school_summary["Average Math Score"] = avg_math_score

In [12]:
#Create a new dataframe for those student with Math scores => 70
#Then group by school
#Then find the percentage compared to the overall student count per school
total_students_math_over_70 = student_data.loc[student_data["math_score"] >= 70]
grouped_by_school_for_math = total_students_math_over_70.groupby(['school_name'])
number_of_math_students_70 = grouped_by_school_for_math["Student ID"].count()
school_summary["Students that pass math"] = number_of_math_students_70

pct_passing_math_70 = number_of_math_students_70/total_students
school_summary["% Math Passed"] = round(pct_passing_math_70*100,2)
#school_summary

In [13]:
#Create a new dataframe for those student with Reading scores => 70
#Then group by school
#Then find the percentage compared to the overall student count per school
total_students_read_over_70 = student_data.loc[student_data["reading_score"] >= 70]
grouped_by_school_for_reading = total_students_read_over_70.groupby(["school_name"])
number_of_reading_students_70 = grouped_by_school_for_reading["Student ID"].count()
school_summary["Students that pass reading"] = number_of_reading_students_70

pct_passing_reading_70 = number_of_reading_students_70/total_students
school_summary["% Reading Passed"] = round(pct_passing_reading_70*100,2)
#school_summary

In [14]:
about_the_school = pd.DataFrame(school_data[["school_name","type","budget"]])
about_the_school.columns = ["School Name", "Type","Budget"]
about_the_school = about_the_school.set_index("School Name")
#about_the_school.sort_values(by=['School Name'])

In [18]:
school_summary["Budget"] = about_the_school["Budget"]
school_summary["Type"] = about_the_school["Type"] 
school_summary

,Total Students,Students Total for math,Average Reading Score,Average Math Score,Students that pass math,% Math Passed,Students that pass reading,% Reading Passed,Budget,Type,% Pass Overall
School Name,,,,,,,,,,,
Bailey High School,4976,4976,81.033963,77.048432,3318,66.68,4077,81.93,3124928,District,74.31
Johnson High School,4761,4761,80.966394,77.072464,3145,66.06,3867,81.22,3094650,District,73.64
Hernandez High School,4635,4635,80.934412,77.289752,3094,66.75,3748,80.86,3022020,District,73.81
Rodriguez High School,3999,3999,80.744686,76.842711,2654,66.37,3208,80.22,2547363,District,73.29
Figueroa High School,2949,2949,81.158020,76.711767,1946,65.99,2381,80.74,1884411,District,73.36
Huang High School,2917,2917,81.182722,76.629414,1916,65.68,2372,81.32,1910635,District,73.50
Ford High School,2739,2739,80.746258,77.102592,1871,68.31,2172,79.30,1763916,District,73.80
Wilson High School,2283,2283,83.989488,83.274201,2143,93.87,2204,96.54,1319574,Charter,95.20
Cabrera High School,1858,1858,83.975780,83.061895,1749,94.13,1803,97.04,1081356,Charter,95.59
Wright High School,1800,1800,83.955000,83.682222,1680,93.33,1739,96.61,1049400,Charter,94.97
Shelton High School,1761,1761,83.725724,83.359455,1653,93.87,1688,95.85,1056600,Charter,94.86
Thomas High School,1635,1635,83.848930,83.418349,1525,93.27,1591,97.31,1043130,Charter,95.29
Griffin High School,1468,1468,83.816757,83.351499,1371,93.39,1426,97.14,917500,Charter,95.27
Pena High School,962,962,84.044699,83.839917,910,94.59,923,95.95,585858,Charter,95.27
Holden High School,427,427,83.814988,83.803279,395,92.51,411,96.25,248087,Charter,94.38

In [19]:
pct_passing_overall = round((pct_passing_reading_70 + pct_passing_math_70)/2*100,2)
school_summary["% Pass Overall"] = pct_passing_overall

In [20]:
school_summary.reset_index(inplace=True)
school_summary["Budget"] = school_summary["Budget"]
school_summary[['School Name','Type','Total Students', 'Budget','Average Reading Score', 'Average Math Score',
         '% Math Passed', '% Reading Passed', '% Pass Overall']].sort_values(by="School Name")

,School Name,Type,Total Students,Budget,Average Reading Score,Average Math Score,% Math Passed,% Reading Passed,% Pass Overall
0,Bailey High School,District,4976,3124928,81.033963,77.048432,66.68,81.93,74.31
8,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,94.13,97.04,95.59
4,Figueroa High School,District,2949,1884411,81.158020,76.711767,65.99,80.74,73.36
6,Ford High School,District,2739,1763916,80.746258,77.102592,68.31,79.30,73.80
12,Griffin High School,Charter,1468,917500,83.816757,83.351499,93.39,97.14,95.27
2,Hernandez High School,District,4635,3022020,80.934412,77.289752,66.75,80.86,73.81
14,Holden High School,Charter,427,248087,83.814988,83.803279,92.51,96.25,94.38
5,Huang High School,District,2917,1910635,81.182722,76.629414,65.68,81.32,73.50
1,Johnson High School,District,4761,3094650,80.966394,77.072464,66.06,81.22,73.64
13,Pena High School,Charter,962,585858,84.044699,83.839917,94.59,95.95,95.27
3,Rodriguez High School,District,3999,2547363,80.744686,76.842711,66.37,80.22,73.29
10,Shelton High School,Charter,1761,1056600,83.725724,83.359455,93.87,95.85,94.86
11,Thomas High School,Charter,1635,1043130,83.848930,83.418349,93.27,97.31,95.29
7,Wilson High School,Charter,2283,1319574,83.989488,83.274201,93.87,96.54,95.20
9,Wright High School,Charter,1800,1049400,83.955000,83.682222,93.33,96.61,94.97