In [ ]:
# Dependencies and Setup
import pandas as pd

In [ ]:
# File to Load
school_data_to_load = "Resources/schools_data_res.csv"
student_data_to_load = "Resources/students_data_res.csv"

In [12]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data.head(7)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
5          5     Wilson High School   Charter  2283  1319574
6          6    Cabrera High School   Charter  1858  1081356

In [ ]:
student_data.head(7)

In [32]:
total_schools = len(school_data)
total_schools

15

In [34]:
total_students = len(student_data)
total_students

39170

In [59]:
total_budget = sum(school_data["budget"])
total_budget = '${:,.2f}'.format(total_budget)
total_budget

'$24,649,428.00'

In [16]:
avg_math_score = student_data["math_score"].mean()
avg_math_score

78.98537145774827

In [17]:
avg_reading_score = student_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [19]:
avg_overal_passing_rate = (avg_math_score+avg_reading_score)/2
avg_overal_passing_rate

80.43160582078121

In [66]:
students_math_pass = student_data.loc[student_data["math_score"] >= 70 ].count()
students_math_pass[0]
pct_math_pass = students_math_pass[0]/total_students*100
pct_math_pass

74.9808526933878

In [62]:
students_read_pass = student_data.loc[student_data["reading_score"] >= 70 ].count()
students_read_pass[0]
pct_read_pass = students_read_pass[0]/total_students*100
pct_read_pass

85.80546336482001

In [69]:
pct_overal_pass = (pct_math_pass + pct_read_pass)/2
pct_overal_pass

80.39315802910392

In [70]:
district_results = pd.DataFrame({"Total Schools": [total_schools],
                                   "Total Students": [total_students],
                                   "Total Budget": [total_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [pct_math_pass],
                                   "% Passing Reading": [pct_read_pass],
                                   "% Overall Passing Rate": [pct_overal_pass]
                                   })

district_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158