# PyCity School District Analysis

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_data_res.csv"
student_data_to_load = "Resources/students_data_res.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# District Summary

In [2]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [3]:
# Calculate the number of Schools and the number of Students
total_schools = len(school_data)
total_students = len(student_data)

In [4]:
# Calculate the Total Budget
total_budget = '${:,.2f}'.format(sum(school_data["budget"]))

In [5]:
# Calculate the Average Math, Average Reading Score and the Overall Passing grade
avg_math_score = student_data["math_score"].mean()
avg_reading_score = student_data["reading_score"].mean()
avg_overall_score = (avg_math_score+avg_reading_score)/2

#Round to nearest integer for readabiliby
avg_math_score = round(avg_math_score)
avg_reading_score = round(avg_reading_score)
avg_overall_score = round(avg_overall_score)

In [6]:
# Calculate the percentage of students with a passing math score and a passing reading score (70 or greater)
students_math_pass = student_data.loc[student_data["math_score"] >= 70 ].count()
students_read_pass = student_data.loc[student_data["reading_score"] >= 70 ].count()

pct_math_pass = students_math_pass[0]/total_students*100
pct_read_pass = students_read_pass[0]/total_students*100
pct_overall_pass = (pct_math_pass+pct_read_pass)/2

#Round to 1 digit for readability
pct_math_pass = round(pct_math_pass,1)
pct_read_pass = round(pct_read_pass,1)
pct_overall_pass = round(pct_overall_pass,1)

In [7]:
#Print results to screen
district_results = pd.DataFrame({"Total Schools": [total_schools],
                                   "Total Students": [total_students],
                                   "Total Budget": [total_budget],
                                   "Average Math Score": [avg_math_score],
                                   "Average Reading Score": [avg_reading_score],
                                   "% Passing Math": [pct_math_pass],
                                   "% Passing Reading": [pct_read_pass],
                                   "% Passing Overall": [pct_overall_pass]
                                   })

district_results

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,"$24,649,428.00",79,82,75.0,85.8,80.4

#  School Summary

In [8]:
#School Summary
grouped_by_school_df = student_data.groupby(['school_name'])

In [9]:
#Create a dataframe with 'school' being a summary level
school_summary = pd.DataFrame(student_data["school_name"].value_counts())

school_summary.reset_index(inplace=True)
school_summary.columns = ["School Name", "Total Students"]
school_summary = school_summary.set_index("School Name")

In [10]:
#Calculate number of students, their average reading & math score by group (=school)
#Then append to School Summary table
total_students = grouped_by_school_df["Student ID"].count()
school_summary["Students Total for math"] = total_students 

avg_reading_score = grouped_by_school_df["reading_score"].mean()
school_summary["Average Reading Score"] = avg_reading_score 

avg_math_score = grouped_by_school_df["math_score"].mean()
school_summary["Average Math Score"] = avg_math_score

In [11]:
#Create a new dataframe for those student with Math scores => 70
#Then group by school
#Then find the percentage compared to the overall student count per school
total_students_math_over_70 = student_data.loc[student_data["math_score"] >= 70]
grouped_by_school_for_math = total_students_math_over_70.groupby(['school_name'])
number_of_math_students_70 = grouped_by_school_for_math["Student ID"].count()
school_summary["Students that pass math"] = number_of_math_students_70

pct_passing_math_70 = number_of_math_students_70/total_students
school_summary["% Math Passed"] = round(pct_passing_math_70*100,2)

In [12]:
#Create a new dataframe for those student with Reading scores => 70
#Then group by school
#Then find the percentage compared to the overall student count per school
total_students_read_over_70 = student_data.loc[student_data["reading_score"] >= 70]
grouped_by_school_for_reading = total_students_read_over_70.groupby(['school_name'])
number_of_reading_students_70 = grouped_by_school_for_reading["Student ID"].count()
school_summary["Students that pass reading"] = number_of_reading_students_70

pct_passing_reading_70 = number_of_reading_students_70/total_students
school_summary["% Reading Passed"] = round(pct_passing_reading_70*100,2)

In [13]:
pct_passing_overall = round((pct_passing_reading_70 + pct_passing_math_70)/2*100,2)
school_summary["% Pass Overall"] = pct_passing_overall
school_summary[['Total Students', 'Average Reading Score', 'Average Math Score',
         '% Math Passed', '% Reading Passed', '% Pass Overall']]

,Total Students,Average Reading Score,Average Math Score,% Math Passed,% Reading Passed,% Pass Overall
School Name,,,,,,
Bailey High School,4976,81.033963,77.048432,66.68,81.93,74.31
Johnson High School,4761,80.966394,77.072464,66.06,81.22,73.64
Hernandez High School,4635,80.934412,77.289752,66.75,80.86,73.81
Rodriguez High School,3999,80.744686,76.842711,66.37,80.22,73.29
Figueroa High School,2949,81.158020,76.711767,65.99,80.74,73.36
Huang High School,2917,81.182722,76.629414,65.68,81.32,73.50
Ford High School,2739,80.746258,77.102592,68.31,79.30,73.80
Wilson High School,2283,83.989488,83.274201,93.87,96.54,95.20
Cabrera High School,1858,83.975780,83.061895,94.13,97.04,95.59
Wright High School,1800,83.955000,83.682222,93.33,96.61,94.97
Shelton High School,1761,83.725724,83.359455,93.87,95.85,94.86
Thomas High School,1635,83.848930,83.418349,93.27,97.31,95.29
Griffin High School,1468,83.816757,83.351499,93.39,97.14,95.27
Pena High School,962,84.044699,83.839917,94.59,95.95,95.27
Holden High School,427,83.814988,83.803279,92.51,96.25,94.38