In [67]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_data_res.csv"
student_data_to_load = "Resources/students_data_res.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [38]:
school_summary = pd.DataFrame({"School Name":[],
                                "School Type":[],
                                "Total Students":[],
                                "Total School Budget":[],
                                "Per Student Budget":[],
                                "Average Math Score":[],
                                "Average Reading Score":[],
                                "% Passing Math":[],
                                "% Passing Reading":[],
                                "% Overall Passing Rate":[]
                                   })

school_summary

Empty DataFrame
Columns: [School Name, School Type, Total Students, Total School Budget, Per Student Budget, Average Math Score, Average Reading Score, % Passing Math, % Passing Reading, % Overall Passing Rate]
Index: []

In [104]:
#School Summary

grouped_by_school_df = student_data.groupby(['school_name'])

In [109]:
student_count = pd.DataFrame(student_data["school_name"].value_counts())

student_count.reset_index(inplace=True)
student_count.columns = ["School Name", "Total Students"]
student_count = student_count.set_index("School Name")

student_count

                       Total Students
School Name
Bailey High School               4976
Johnson High School              4761
Hernandez High School            4635
Rodriguez High School            3999
Figueroa High School             2949
Huang High School                2917
Ford High School                 2739
Wilson High School               2283
Cabrera High School              1858
Wright High School               1800
Shelton High School              1761
Thomas High School               1635
Griffin High School              1468
Pena High School                  962
Holden High School                427

In [110]:
avg_reading_score = grouped_by_school_df["reading_score"].mean()
avg_reading_score.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [111]:
avg_math_score = grouped_by_school_df["math_score"].mean()
avg_math_score.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [117]:
num_students = grouped_by_school_df["student_name"].count()
num_students.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: student_name, dtype: int64

In [124]:
school_summary = pd.DataFrame({"Number of Students" : num_students,
                               "Average Math Score": student_avg_math_score,
                                "Average Reading Score": avg_reading_score
                              })

school_summary.reset_index(inplace=False)
school_summary.head()

,Number of Students,Average Math Score,Average Reading Score
school_name,,,
Bailey High School,4976,77.048432,81.033963
Cabrera High School,1858,83.061895,83.975780
Figueroa High School,2949,76.711767,81.158020
Ford High School,2739,77.102592,80.746258
Griffin High School,1468,83.351499,83.816757